/* »Øµ½¶¥²¿00000000000222222222*/
#scrollUp {
	bottom: 10px;
	right: 5px;
	background: #555;
	color: #fff;
	font-size: 10px;
	font-family: sans-serif;
	text-decoration: none;
	opacity: .9;
	padding: 3px 7px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-transition: background 200ms linear;
	-moz-transition: background 200ms linear;
	transition: background 200ms linear;
}
	#scrollUp:hover {
		background: #000;
	}